<app-navbar></app-navbar>

<div class="container-fluid">
  <!-- Section 1: Welcome Section -->
  <div class="row align-items-center py-5">
    <div class="col-md-6 text-center text-md-start">
      <h1 class="display-4 fw-bold">Welcome to <br> Our Fruits Shop</h1>
      <p class="lead">
        There are many variations of passages of Lorem Ipsum available, but the majority have alteration in some form, by injected humour, or randomised words which don't look even slightly believable.
      </p>
      <div class="d-flex gap-3 justify-content-center justify-content-md-start">
        <button class="btn btn-primary btn-lg"><a href="#">Shop Now</a></button>
        <button class="btn btn-outline-dark btn-lg" routerLink="/contact">Contact Us</button>
      </div>
    </div>
    <div class="col-md-6 text-center">
      <img src="assets/image1.png" alt="Fruits" class="img-fluid">
    </div>
  </div>

  <!-- Section 2: Products Section -->
  <div class="row py-5" id="products">
    <div class="col-12 text-center">
      <h1 class="display-5 fw-bold mb-4">Welcome to Our Products</h1>
      <div class="d-flex justify-content-center gap-5 mb-4">
        <select class="form-select w-25">
          <option value="product1">Product 1</option>
          <option value="product2">Product 2</option>
          <option value="product3">Product 3</option>
          <option value="product4">Product 4</option>
          <option value="product5">Product 5</option>
          <option value="product6">Product 6</option>
          <option value="product7">Product 7</option>
          <option value="product8">Product 8</option>
          <option value="product9">Product 9</option>
          <option value="product10">Product 10</option>
        </select>
        <input type="search" class="form-control w-25" placeholder="Search products here...">
      </div>
    </div>
    <div class="col-12">
      <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-5 g-4">
        <div class="col" *ngFor="let product of products">
          <div class="card h-100 shadow-lg">
            <div class="card-img-container">
              <img [src]="product.image" class="card-img-top" alt="Product Image">
            </div>
            <div class="card-body d-flex  justify-content-between align-items-center">
              <p class="card-text fw-bold text-primary">{{ product.productName }}</p>
              <p class="card-text fw-bold text-info">{{ product.price | currency:'KES':'symbol':'1.2-2' }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>