<app-navbar/>
<div class="main">
    <form action="">
        <h2>Sign in to your account</h2>
        <div class="logincontainer">
            <div class="input">
                <label for="">Name:</label>
                <input type="name"  placeholder="enter your name">
            </div>
            <div class="input">
                <label for="">email:</label>
                <input type="text" placeholder="example@gmail.com">
            </div>
            <div class="input">
                <label for="">password:</label>
                <input type="password"  placeholder="enter your password">
            </div>
            <span class="reset">
                <p>forgot password</p> 
                <p>reset</p>
            </span>
            <button class="btn-login">sign-up</button>
            <span class="link">
                <p>already have an account</p>
                <p routerLink="/login">login</p>
            </span>
        </div>
    </form>
</div>